version: '3.8'

services:
  app:
    container_name: 'app'
    image: ${image}
    build:
      dockerfile: Dockerfile
      context: ../
    env_file:
      - ./config/.env
    ports:
      - "80:80"
    networks:
      - app_net

networks:
  app_net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.20.0.0/16
          gateway: 10.20.0.1


